<head>
  <link rel='stylesheet' href='/stylesheets/style2.css' />
  <style>
    body {
      background-color: #3bd428;
      font-family: 'Roboto Condensed', sans-serif;
      color: #262626;
      margin: 5% 0;
    }

    button {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      border: none;
      border-radius: 30px;
      background: #de991c;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
    }

    button:hover {
      cursor: pointer;
      background: #3bd428;
    }

    .error {
      color: #de991c;
      padding-left: 23%;
    }

    .address {
      width: 15%;
      border-radius: 9px;
      margin: 3px;
      height: 38px;
      background-color: #de991c;
      color: #fff;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="title">
      <h2>Product Order Form</h2>
    </div>

    <form id="form">
      <div class="d-flex">
        <div class="frm" action="" method="">
          <input type="hidden" name="userid" value="{{user._id}}">
          <label>
            <span>Select Address <span>*</span></span>
            <input type="button" value="Address1" class="address" onclick="findAdd('{{user._id}}','address1')">
            <input type="button" value="Address2" class="address" onclick="findAdd('{{user._id}}','address2')">
            <input type="button" value="Address3" class="address" onclick="findAdd('{{user._id}}','address3')">
            <a href="/users/manageAddress"><input type="button" value="Manage Address"
                style=" width: 20%; border-radius: 9px;margin: 3px; height: 38px; background-color: #3bd428;color: #fff;"></a>
          </label>
          <label>
            <span class="fname">First Name <span>*</span></span>
            <input type="text" id="fname" required minlength="3" name="fname" value="">
          </label>
          <label>
            <span class="lname">Last Name <span>*</span></span>
            <input type="text" id="lname" required minlength="3" name="lname" value="">
          </label>
          <label>
            <span>Country <span>*</span></span>
            <input type="text" id="country" required minlength="3" name="country" value="">
          </label>
          </label>
          <label>
            <span>HouseName/No <span>*</span></span>
            <input type="text" id="housename" required minlength="3" name="address" value="">
          </label>
          <label>
            <span>Town / City <span>*</span></span>
            <input type="text" id="city" required minlength="3" name="city" value="">
          </label>
          <label>
            <span>State / County <span>*</span></span>
            <input type="text" id="state" required minlength="3" name="state" value="">
          </label>
          <label>
            <span>Postcode / ZIP <span>*</span></span>
            <input type="text" id="pincode" required minlength="6" name="pincode" value="">
          </label>
          <label>
            <span>Mobile <span>*</span></span>
            <input type="tel" id="mobile" required minlength="10" maxlength="10" name="mobile" value="">
          </label>
          <label>
            <span>Email Address <span>*</span></span>
            <input type="email" required pattern=".+@gmail.com" size="30" id="mail" name="mail" value="">
          </label>
        </div>
        <div class="Yorder">
          <table>
            <tr>
              <th colspan="2">Your order</th>
            </tr>
            <tr>
              <td>Subtotal : </td>
              <td style="float: left; padding-left: 8%;">Rs.</td>
              <td style="float: left;margin-right: 0; padding-right: 0;" id="total">{{total}}</td>
              <td id="zero" style="float: left;">.00</td>
              <input type="hidden" id="amt" name="total" value="{{total}}">
            </tr>
            <tr>
              <td style="margin-right: 4px;">Apply : </td>
              <td style="float: left;padding-left: 8%;">Referral</td>
              <td style="float: left;"><input type="radio" onchange="referral()" id="method" value="Referral"
                  name="redeem"></td>
              <td style="color: #52ad9c;float: left;">Coupon</td>
              <td style="float: left;"><input type="radio" onchange="coupon()" value="coupon" name="redeem"></td><br>
            </tr>
            <tr>
              <td id="label"></td>
              <td>
                <div style="float: right; width: 150px;" id="text"></div>
              </td>
            </tr>

          </table><br>
          <label style="color: #de991c; font-size: 20px; padding-left: 17%;" id="err"></label>
          <div>
            <input type="radio" name="payment_method" checked value="COD"> Cash on Delivery
          </div>
          <div>
            <input type="radio" name="payment_method" value="razorpay"> Razorpay <span>
              <img src="/images/Razorpaay.png" alt="" width="50">
            </span>
          </div>
          <div>
            <input type="radio" name="payment_method" value="paypal"> Paypal <span>
              <img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt=""
                width="50">
            </span>
          </div>
          <button name="submit" onclick="submitForm()" value="submit">Checkout</button>
        </div><!-- Yorder -->
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
  <script>
    function referral() {
      var amount = document.getElementById('total').innerHTML
      var coupon = document.getElementById('code').value
      var total = document.getElementById('amt').value
      if (amount == total) {
        $.ajax({
          url: '/users/checkReferalEarning',
          method: 'post',
          data: 'hi',
          success: (response) => {
            if (response.length == 0) {
              document.getElementById('err').innerHTML = "There is no referal earning"
            } else {
              var reffEarning = response.length * 100
              var ref = reffEarning + 100
              if (reffEarning > amount) {
                document.getElementById('err').innerHTML = "Your referal earning is " + reffEarning + " if you want redeem, purchase above " + ref
              } else {
                document.getElementById('total').innerHTML = amount - reffEarning + ".00"
                document.getElementById('amt').value = amount - reffEarning
                document.getElementById('zero').innerHTML = " "
              }
            }
          }
        })
      } else {
        document.getElementById('err').innerHTML = "The redeem already applied"
      }
    }
  </script>   
  <script> 
    function coupon() {
      document.getElementById('label').innerHTML = "Enter coupon code"
      document.getElementById('text').innerHTML = '<input id="code" type="text"><input type="button" onclick="discount()" value="Apply">'
    }
  </script>
  <script>  
    function discount() {
      var coupon = document.getElementById('code').value
      var total = document.getElementById('amt').value
      if (total >= 100) {
        $.ajax({
          url: '/users/checkCuponCode',
          method: 'post',
          data: { couponCode: coupon },
          success: (response) => {
            if (response) {
              var amount = document.getElementById('total').innerHTML
              var total = document.getElementById('amt').value
              var discount = response.redeemAmount
              var dis = discount + 100
              if (amount == total) {
                if (discount >= total) {
                  document.getElementById('total').innerHTML = amount - discount + ".00"
                  document.getElementById('amt').value = amount - discount
                  document.getElementById('zero').innerHTML = " "
                } else {
                  document.getElementById('err').innerHTML = "Your coupon amount is" + discount + "if you want to apply coupon you want to purchase above" + dis
                }
              } else {
                document.getElementById('err').innerHTML = "Only one coupon on one purchase"
              }
            } else {
              document.getElementById('err').innerHTML = "Invalid Coupon"
            }

          }
        })

      } else {
        document.getElementById('err').innerHTML = "There coupon valid only for above 100.rs purchase"
      }
    }
  </script>
  <script>
    function submitForm() {
      $("#form").submit((e) => {
        e.preventDefault()
        $.ajax({
          url: '/checkoutSubmit',
          method: 'post',
          data: $('#form').serialize(),
          success: (response) => {
            if (response.codSuccess) {
              location.href = '/success'
            } else if (response.status) {
              razorpayPayment(response)
            } else {
              window.location.href = response.paypalConnection
            }
          }
        })
      })
    }
  </script>
  <script>

    function razorpayPayment(order) {
      var options = {
        "key": "rzp_test_B1Edfkjazm7n03", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "KIKKI MART",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          verifyPayment(response, order)
        },
        "prefill": {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9999999999"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }

    function verifyPayment(payment, order) {
      $.ajax({
        url: '/verifyPayment',
        data: {
          payment,
          order
        },
        method: 'POST',
        success: (response) => {
          if (response.status) {
            location.href = '/success'
          } else {
            alert("Payment Failed")
          }
        }
      })
    }

  </script>
  <script>
    function findAdd(user, add) {
      $.ajax({
        url: '/users/findAddress',
        data: {
          userId: user,
          address: add
        },
        method: 'POST',
        success: (response) => {
          if (response.status) {
            document.getElementById('fname').value = response.address.fname
            document.getElementById('lname').value = response.address.lname
            document.getElementById('country').value = response.address.country
            document.getElementById('housename').value = response.address.housename
            document.getElementById('city').value = response.address.city
            document.getElementById('state').value = response.address.state
            document.getElementById('pincode').value = response.address.pincode
            document.getElementById('mobile').value = response.address.mobile
            document.getElementById('mail').value = response.address.mail
          } else {
            alert("Please add address")
          }
        }
      })
    }
  </script>
</body>