<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<style>
	.timetable_sub th{
		background-color: #3bd428;
		border: 0px;
	}
</style>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1">
				<li><a href="/admin/adminPage"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Admin</a></li>
				<li class="active">ManageOrders</li>
				<ul class="nav navbar-nav" style="float: right;">
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageOffers">ManageOffers </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageCoupons">ManageCoupons </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageCategory">ManageCategory </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageProducts">ManageProducts </a></li>
				<li style="float: right; text-decoration: none;" ><a style="color: #fff;" href="/admin/manageUsers">ManageUsers </a></li>
				</ul>
			</ol>	
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- checkout -->
	<div class="checkout">
		<div style="padding-bottom: 5%; margin-left: 0.5%;" class="container">
			<div class="checkout-right">
				<table style="width: 115%;" class="timetable_sub">
					<h3 style="padding-bottom: 5px;">Placed Orders</h3>
					<thead>
						<tr>
							<th>Date</th>	
							<th>Address</th>
							<th>Pincode</th>
							<th>Mobile</th>
							<th>Amount</th>
							<th>Payment</th>
							<th>Status</th>
							<th>Options</th>
						</tr>
					</thead>
					{{#each orders}}	
                    <tbody id="customers">
					<tr class="rem2"> 
						<td>{{this.date}}</td>
						<td>{{this.deliveryDetails.address}}</td>
						<td>{{this.deliveryDetails.pincode}}</td>
						<td>{{this.deliveryDetails.mobile}}</td>
						<td>{{this.totalAmount}}</td>
						<td>{{this.paymentMethod}}</td> 
						<td>{{this.status}}</td>
						<td><a href="/admin/adminChangeStatus?id={{this._id}}" style="color: black;"><button class="orderButton">Change Status</button>&nbsp;</a>
							<a href="/admin/adminViewProducts?id={{this._id}}" style="color: black;"><button class="orderButton">Product</button>&nbsp;</a>
						<a href="/admin/adminCancelOrder?id={{this._id}}" style="color: black;"><button onclick="return confirm('Are you want to cancel order ?')" class="orderButton">cancel</button></a></td>
					</tr>
                    </tbody>
					{{/each}}
				</table>
			</div>
		</div>
		<div class="container">
			<div class="checkout-right">
				<table class="timetable_sub">
					<h3 style="padding-bottom: 5px;">Canceled Orders</h3>
					<thead>
						<tr>
							<th>Date</th>	
							<th>Address</th>
							<th>Pincode</th>
							<th>Mobile</th>
							<th>Amount</th>
							<th>Payment</th>
							<th>Status</th>
							<th>Options</th>
						</tr>
					</thead>
					{{#each canceled}}	
                    <tbody id="customers">
					<tr class="rem2">
						<td>{{this.date}}</td>
						<td>{{this.deliveryDetails.address}}</td>
						<td>{{this.deliveryDetails.pincode}}</td>
						<td>{{this.deliveryDetails.mobile}}</td>
						<td>{{this.totalAmount}}</td>
						<td>{{this.paymentMethod}}</td>
						<td>{{this.status}}</td>
						<td><a href="/admin/viewOrderProduct?id={{this._id}}" style="color: black;"><button class="orderButton">Product</button>&nbsp;</a></td>
					</tr>
                    </tbody>
					{{/each}}
				</table>
			</div>
		</div>
	</div>
<!-- //checkout -->	
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
	$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/
							
		$().UItoTop({ easingType: 'easeOutQuart' });
							
		});
</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
// Mini Cart
paypal.minicart.render({
	action: '#'
});

if (~window.location.search.indexOf('reset=true')) {
	paypal.minicart.reset();
}
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
					
		jQuery('#responsive').change(function(){
		  $('#responsive_wrapper').width(jQuery(this).val());
		});
		
	});
</script>	
<!-- //main slider-banner --> 
</body>