<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="admin">Admin</a></li>
				<li class="active">Manage</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<div>
  <h2 class="table_top md-6">Manage Products</h2>            
  <a href="/admin/addProducts"><button class="ad">Add</button></a>&nbsp;<a href="/admin/manageProducts"><button>Refresh</button></a>
<table id="customers">
<thead>	
  <tr>
    <th>Id</th>
    <th>Product Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Offer Price</th>
    <th style="padding-left: 3%;">Image</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
	  {{#each results}}
  <tr>
  	<td>1</td>
    <td>{{this.pname}}</td>
    <td>{{this.category}}</td>
    <td>{{this.price}}</td>
    <td>15</td>
    <td><img style="width: 80px; height:80px;" src="/product_images/{{this._id}}.jpg"></td>
    <td><a href="/admin/editProducts?id={{this._id}}"><button>Edit</button></a>&nbsp;<a href="/admin/removeProducts?id={{this._id}}"><button>Remove</button></a></td>
  </tr>
	{{/each}}
  </tbody>
</table>
</div>	
<!-- //main slider-banner --> 
</body>