<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<marquee behavior="scroll" direction="left" scrollamount="10">
				<div class="w3l_offers">
					<p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="">SHOP NOW</a></p>
				</div>
				<div class="clearfix"> </div>
			</marquee>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : 8156840102</li>

				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="users">Kikki Mart</a></h1>
			</div>
			<div class="w3l_search">
				<form action="#" method="post">
					<input type="search" name="Search" placeholder="Search for a Product..." required="">
					<button type="submit" class="btn btn-default search" aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
					<div class="clearfix"></div>
				</form>
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //header -->

<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1">
				<li><a href="users"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Place Order Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- checkout -->
	<div style="margin-top: 2rem;">
		<div class="container">
			<div class="checkout-right">
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>SL No.</th>	
							<th>Product</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Quality</th>
							<th>Option</th>
						</tr>
					</thead>
					{{#each products}}
					<tr class="rem1">
						<td  class="counterCell"></td>
						<td class="invert-image"><a href="single.html"><img src="product_images/{{this.product._id}}.jpg" alt=" " class="img-responsive" /></a></td>
						<td>{{this.product.pname}}</td>
						<td>{{this.product.price}}</td>
						<td>
							 <div class="quantity"> 
								<div class="quantity-select">                           
									<button class="entry value-minus" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">&nbsp;</button>
									<div class="entry value"><span id="{{this.product._id}}">{{this.quantity}}</span></div>
									<button class="entry value-plus active" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">&nbsp;</button>
								</div>
							</div>
						</td>
						<td><button class="orderButton" onclick="removeCaartProduct('{{this._id}}','{{this.product._id}}')">Remove</button></td>
						
					</tr>
					{{/each}}		
								
				</table>
			</div>
			<div class="checkout-left">	
				<div class="checkout-right-basket">
					<a href="/checkout">Place Order</a>
				</div>
				<div class="checkout-left-basket">
					<h4>Total- Rs. <span style="font-family: 'Times New Roman', Times, serif; font-size:20px;" id="total" >{{total}}</span></h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //checkout -->

<!-- //footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contact</h3>

					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>KIKKI MART, EAST KALLADA,
							<span>KOLLAM.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a>kikkimart@123.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>8156840102</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about">About Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact">Contact Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="offers">Offers</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Category</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries">Groceries</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household">Household</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare">Personal Care</a>
						</li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods">Packaged
								Foods</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages">Beverages</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="signUp">Create Account</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="logIn">Login</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<div class="footer-copy">

			<div class="container">
				<p>Design by <a>SHINU VARGHESE</a></p>
			</div>
		</div>

	</div>
	<div class="footer-botm">
		<div class="container">
			<div class="w3layouts-foot">
				<ul>
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="payment-w3ls">
				<img src="images/card.png" alt=" " class="img-responsive">
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
<!-- //here ends scrolling icon -->

<!-- main slider-banner -->
<!-- //main slider-banner --> 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script>
	function changeQuantity(cartId,productId,userId,count){
		let quantity=parseInt(document.getElementById(productId).innerHTML)
		count=parseInt(count)
		$.ajax({
			url:'/changeProductQuantity',
			data:{
				cart:cartId,
				product:productId,
				id:userId,
				count:count,
				quantity:quantity
			},
			method:'post',
			success:(response)=>{
				if(response.removeProduct){
					alert("Product Removed from cart")
					location.reload()
				}else{
					console.log(response)
					document.getElementById(productId).innerHTML=quantity+count
					document.getElementById('total').innerHTML=response.total
				}
			}
		})

	}
</script>

<script>
	function removeCaartProduct(cartId,productId){
		$.ajax({
			url:'/removeCaartProduct',
			data:{
				cart:cartId,
				product:productId,
			},
			method:'post',
			success:(response)=>{
				if(response.removeProduct){
					alert("Product Removed from cart")
					location.reload()
				}else{
					alert("Error")
				}
			}
		})

	}
</script>

</body>