<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="695971541932-u51s5d6e3smg86kvn9m5j79baaku7eo7.apps.googleusercontent.com">

	<!-- start-smoth-scrolling -->
</head>

<body>
	<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<marquee behavior="scroll" direction="left" scrollamount="10">
				<div class="w3l_offers">
					<p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="">SHOP NOW</a></p>
				</div>
				<div class="clearfix"> </div>
			</marquee>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : 8156840102</li>

				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="/">Kikki Mart</a></h1>
			</div>
			<div class="w3l_search">
				<form action="/productSearch" method="POST">
					<input type="search" name="searchValue" placeholder="Search for a Product..." required="">
					<button type="submit" class="btn btn-default search" aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
					<div class="clearfix"></div>
				</form>
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
						data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">All products<b
									class="caret"></b></a>
							<ul class="dropdown-menu drp-mnu multi-column columns-3">
								{{#each result1}}
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li>{{this.cname}}</li>
										</ul>
									</div>

								</div>

								{{/each}}
							</ul>
						</li>

						<li><a href="/viewOffers">Offers</a></li>
						{{#if users}}
						<li><a href="users/profile?id={{users.data._id}}"> Profile </a></li>
						<li><a href="/viewOrders"> Orders </a></li>
						<li><a href="/users/coupon&Referral"> Coupons & Referral Earning </a></li>
					</ul>
					<div class="product_list_header">
							<form action="/placeOrder" method="post" class="last">
						 		<button class="w3view-cart" type="submit" name="submit" value=""><i
								class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
								<span style="background-color: rgb(29 35 3); color: #fff; font-size: 10px;" class="badge badge-" id="cartCount">{{result2}}</span>
							</form>
					</div>
					<ul class="nav navbar-nav" style="float: right;"> 
						<li class="dropdown profile_details_drop" > 
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">
									<p style="color: rgb(29 35 3);">
										
										<i class="fa fa-user"></i>
										{{users.fname}}
										<i class="fa fa-angle-down lnr"></i>
										{{/if}}
									</p>
								</div>
							</a>
							<ul class="dropdown-menu drp-mnu">
								<li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
							</ul>
						</li>
						</ul>
					
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
	<!-- //top-header and slider -->
	<!-- Carousel
    ================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href=""> <img class="first-slide" src="images/b1.jpg" alt="First slide"></a>

			</div>
			<div class="item">
				<a href=""> <img class="second-slide " src="images/b3.jpg" alt="Second slide"></a>

			</div>
			<div class="item">
				<a href=""><img class="third-slide " src="images/b1.jpg" alt="Third slide"></a>

			</div>
		</div>

	</div><!-- /.carousel -->

	<!-- new -->
	<div>
		<div class="newproducts-w3agile">
			<div class="container">
				<div class="agile_top_brands_grids">
					{{#each results}}
					<div class="col-md-3 top_brand_left-1" style="margin-top: 3%;">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
												<img src="images/{{this.status}}.png" alt="" class="img-responsive" />
											</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/users/single?id={{this._id}}"><img
														title=" " alt=" " src="product_images/{{this._id}}.jpg"></a>
												<p>{{this.pname}}</p>
												<div class="stars">
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star gray-star" aria-hidden="true"></i>
												</div>
			 									<h4>{{this.price}}<span>{{this.oldPrice}}</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
													<button  onclick="addToCart('{{this._id}}')" name="submit"
													>Add to cart</button>

											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					{{/each}}

					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>

	<!-- //new -->
	<!--banner-bottom-->
	<div class="ban-bottom-w3l">
		<div class="container">
			<div class="col-md-6 ban-bottom">
				<div class="ban-top">
					<img src="images/p2.jpg" class="img-responsive" alt="" />

				</div>

			</div>
			<div class="col-md-6 ban-bottom">

				<div class=" ban-bottom1">
					<div class="ban-top">
						<img src="images/p3.jpg" class="img-responsive" alt="" />

					</div>
				</div>
				<div class="ban-bottom2">
					<div class="ban-top">
						<img src="images/p4.jpg" class="img-responsive" alt="" />

					</div>
				</div>
			</div>

		</div>
	</div>
	<!--banner-bottom-->

	<!-- //footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contact</h3>

					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>KIKKI MART, EAST KALLADA,
							<span>KOLLAM.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a>kikkimart@123.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>8156840102</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about">About Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/contact">Contact Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="offers">Offers</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Category</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries">Groceries</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household">Household</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare">Personal Care</a>
						</li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods">Packaged
								Foods</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages">Beverages</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="signUp">Create Account</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="logIn">Login</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<div class="footer-copy">

			<div class="container">
				<p>Design by <a>SHINU VARGHESE</a></p>
			</div>
		</div>

	</div>
	<div class="footer-botm">
		<div class="container">
			<div class="w3layouts-foot">
				<ul>
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="payment-w3ls">
				<img src="images/card.png" alt=" " class="img-responsive">
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- top-header and slider -->
	<!-- here stars scrolling icon -->
	
	<!-- main slider-banner -->
	<!-- //main slider-banner -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script>
	function addToCart(proId){
    $.ajax({
        url:'/addToCart/'+proId,
        method:'get',
        success:(response)=>{
			if(response.status){
				alert("Product Added to cart")
				location.reload()
				let count=$('#cartCount').html()
				count=parseInt(count)+1
				$('#cartCount').html(count)
			}
			else{
				location.href='/'
			}
        }
    })
}
</script>
</body>